google==3.0.0
bs4==0.0.1
Faker==5.0.0
regex==2023.8.8
ipaddress==1.0.11.
phonenumbers==8.13.21
requests==2.31.0
pythonping==1.1.4
sockets==1.0.0
times==0.7
wget==3.2
random2==1.0.1
colorama
argparse==1.4.0
urllib3==2.0.5
pyexiftool==0.5.5
scapy-python3==0.26
pycurl==7.45.2
cloudscraper==1.2.71
scapy==2.5.0
