google==3.0.0
Faker==5.0.0
regex==2023.8.8
ipaddress==1.0.11.
phonenumbers==8.13.21
requests==2.31.0
openai==0.28.1
pythonping==1.1.4
os-sys==2.1.4
sockets==1.0.0
times==0.7
wget==3.2
random2==1.0.1
colorama==0.4.6
argparse==1.4.0
os-sys==2.1.4
bs4==0.0.1
googlesearch-python==1.2.3
urllib3==2.0.5
pyexiftool==0.5.5